### How to import pandas and check the version?

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\qather\appdata\local\programs\python\python312\lib\site-packages (2.2.3)

WARNING: There was an error checking the latest version of pip.

Requirement already satisfied: numpy>=1.26.0 in c:\users\qather\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\qather\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\qather\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\qather\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\qather\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import numpy as np  # optional
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

2.2.3
{
  "system": {
    "commit": "0691c5cf90477d3503834d983f69350f250a6ff7",
    "python": "3.12.1",
    "python-bits": 64,
    "OS": "Windows",
    "OS-release": "10",
    "Version": "10.0.19045",
    "machine": "AMD64",
    "processor": "Intel64 Family 6 Model 165 Stepping 5, GenuineIntel",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": null,
    "LOCALE": {
      "language-code": "de_DE",
      "encoding": "cp1252"
    }
  },
  "dependencies": {
    "pandas": "2.2.3",
    "numpy": "2.1.3",
    "pytz": "2024.2",
    "dateutil": "2.9.0.post0",
    "pip": "23.2.1",
    "Cython": null,
    "sphinx": null,
    "IPython": "8.29.0",
    "adbc-driver-postgresql": null,
    "adbc-driver-sqlite": null,
    "bs4": "4.12.3",
    "blosc": null,
    "bottleneck": null,
    "dataframe-api-compat": null,
    "fastparquet": null,
    "fsspec": null,
    "html5lib": null,
    "hypothesis": null,
    "gcsfs": null,
    "jinja2": "3.1.4",
    "lxml.etree": null,
    "matplotlib": null,
    "numba": null,
    "numexpr": null,
    "odfpy": null,
    "openpyxl": null,
    "pandas_gbq": null,
    "psycopg2": null,
    "pymysql": null,
    "pyarrow": null,
    "pyreadstat": null,
    "pytest": null,
    "python-calamine": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": "1.14.1",
    "sqlalchemy": null,
    "tables": null,
    "tabulate": null,
    "xarray": null,
    "xlrd": null,
    "xlsxwriter": null,
    "zstandard": null,
    "tzdata": "2024.2",
    "qtpy": null,
    "pyqt5": null
  }
}None

### 2. How to create a series from a list, numpy array and dict?

In [3]:
# Inputs
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())


"""
Eine Pandas Series ist eine eindimensionale Datenstruktur, ähnlich einer Liste, einem Array oder einem Dictionary.
Sie kombiniert Daten und Indizes, wodurch sie sehr flexibel und leistungsstark ist.
Series werden häufig in der Datenanalyse, Zeitreihenverarbeitung und als Teil eines Pandas DataFrames verwendet.
"""

a    0
b    1
c    2
e    3
d    4
dtype: int64

'\nEine Pandas Series ist eine eindimensionale Datenstruktur, ähnlich einer Liste, einem Array oder einem Dictionary.\nSie kombiniert Daten und Indizes, wodurch sie sehr flexibel und leistungsstark ist.\nSeries werden häufig in der Datenanalyse, Zeitreihenverarbeitung und als Teil eines Pandas DataFrames verwendet.\n'

### 3. How to convert the index of a series into a column of a dataframe?

In [4]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

### 4. How to combine many series to form a dataframe?

In [5]:
# Input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

### 5. How to assign name to the series’ index?

In [6]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = "alaphabet"
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alaphabet, dtype: object

### 6. How to get the items of series A not present in series B?

In [7]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

### 7. How to get the items not common to both series A and series B?

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [9]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

### 9. How to get frequency counts of unique items of a series?

In [10]:
# Input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser)
# Solution
ser.value_counts()

0     b
1     b
2     e
3     d
4     a
5     c
6     f
7     e
8     a
9     b
10    d
11    g
12    h
13    g
14    c
15    f
16    g
17    h
18    g
19    a
20    a
21    a
22    a
23    b
24    c
25    e
26    g
27    g
28    g
29    a
dtype: object

a    7
g    7
b    4
e    3
c    3
d    2
f    2
h    2
Name: count, dtype: int64

###  10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [11]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.randint(1, 5, [12]))
print(ser)

# Solution
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0     1
1     1
2     4
3     4
4     4
5     4
6     1
7     3
8     3
9     1
10    3
11    2
dtype: int32
Top 2 Freq: 1    4
4    4
3    3
2    1
Name: count, dtype: int64

C:\Users\qather\AppData\Local\Temp\ipykernel_68332\4045366092.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

0         1
1         1
2         4
3         4
4         4
5         4
6         1
7     Other
8     Other
9         1
10    Other
11    Other
dtype: object

In [12]:
x = pd.Series(np.random.randint(1,4,[5]))
print(x)
x[::~1]

0    3
1    1
2    1
3    3
4    3
dtype: int32

4    3
2    1
0    3
dtype: int32

### 11. How to bin a numeric series to 10 groups of equal size?

In [13]:
ser = pd.Series(np.random.random(20))
print(ser.head())

# Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

0    0.232891
1    0.274082
2    0.475438
3    0.126276
4    0.466606
dtype: float64

0      4th
1      4th
2      7th
3      2nd
4      6th
5      1st
6      1st
7      3rd
8      9th
9      8th
10     5th
11     2nd
12     9th
13     7th
14    10th
15    10th
16     6th
17     5th
18     3rd
19     8th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

### 12. How to convert a numpy array to a dataframe of given shape? (L1)

In [14]:
# Input
ser = pd.Series(np.random.randint(1, 10, 35))
print(ser)

# Solution
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

0     7
1     6
2     1
3     9
4     1
5     3
6     6
7     3
8     5
9     3
10    7
11    5
12    9
13    9
14    5
15    1
16    5
17    3
18    2
19    6
20    3
21    2
22    9
23    3
24    3
25    7
26    8
27    1
28    3
29    1
30    8
31    9
32    6
33    3
34    1
dtype: int32
   0  1  2  3  4
0  7  6  1  9  1
1  3  6  3  5  3
2  7  5  9  9  5
3  1  5  3  2  6
4  3  2  9  3  3
5  7  8  1  3  1
6  8  9  6  3  1

### 13. How to find the positions of numbers that are multiples of 3 from a series?

In [15]:
# Input
ser = pd.Series(np.random.randint(1, 10, 7))
ser

# Solution
print(ser)
x = np.argwhere(ser % 3==0)
print(x)

0    4
1    8
2    8
3    5
4    5
5    5
6    9
dtype: int32
[[6]]

### 14. How to extract items at given positions from a series

In [16]:
# Input
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

# Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

### 15. How to stack two series vertically and horizontally ?

In [17]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Output
# Vertical
df = pd.concat([ser1, ser2])
print(df)
# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

### 16. How to get the positions of items of series A in another series B?

In [18]:
# Input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

### 17. How to compute the mean squared error on a truth and predicted series?

In [19]:
# Input
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

# Solution
np.mean((truth-pred)**2)

np.float64(0.4079518550550671)

### 18. How to convert the first character of each element in a series to uppercase?

In [20]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

### 19. How to calculate the number of characters in each word in a series?

In [21]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

### 20. How to compute difference of differences between consequtive numbers of a series?

In [22]:
# Input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

### 21. How to convert a series of date-strings to a timeseries?

In [23]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### 22. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [24]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.isocalendar().week.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.day_name().tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

### 23. How to convert year-month string to dates corresponding to the 4th day of the month?

In [25]:
# Input
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

# Solution 1
from dateutil.parser import parse
# Parse the date
ser_ts = ser.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

# Solution 2
ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

### 24. How to filter words that contain atleast 2 vowels from a series?

In [26]:
# Input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

### 25. How to filter valid emails from a series?

In [27]:
# Input
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

# Solution 1 (as series of strings)
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

# Solution 2 (as series of list)
emails.str.findall(pattern, flags=re.IGNORECASE)

# Solution 3 (as list)
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

### 26. How to get the mean of a series grouped by another series?

In [28]:
# Input
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

# Solution
weights.groupby(fruit).mean()

apple     3.500000
banana    6.833333
carrot    3.500000
dtype: float64

### 27. How to compute the euclidean distance between two series?

In [29]:
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# Solution 
sum((p - q)**2)**.5

# Solution (using func)
np.linalg.norm(p-q)

np.float64(18.16590212458495)

### 28. How to find all the local maxima (or peaks) in a numeric series?

In [30]:
# Input
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

# Solution
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7])

### 29. How to replace missing spaces in a string with the least frequent character?

In [31]:
# Input
my_str = 'dbc deb abed gade'

# Solution
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
b    3
     3
e    3
a    2
c    1
g    1
Name: count, dtype: int64

'dbcgdebgabedggade'

### 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [32]:
# Solution
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    5
2000-01-08    7
2000-01-15    7
2000-01-22    6
2000-01-29    1
2000-02-05    8
2000-02-12    9
2000-02-19    7
2000-02-26    7
2000-03-04    7
Freq: W-SAT, dtype: int32

### 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

In [33]:
# Input
ser = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

# Solution
ser.resample('D').ffill()  # fill with previous value

# Alternatives
ser.resample('D').bfill()  # fill with next value
ser.resample('D').bfill().ffill()  # fill next else prev value

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

### 32. How to compute the autocorrelations of a numeric series?

In [34]:
# Input
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

"""
Anwendungsfälle:

    Analyse von Zeitreihen-Daten (z. B. Finanzdaten, Wetterdaten).
    Identifikation von Mustern oder Wiederholungen in Daten.
    Modellierung in der ARIMA-Zeitreihenanalyse (Bestimmung der AR-Parameter).

Definiton:

    Das Beispiel zeigt, wie man die Autokorrelationen einer numerischen Zeitreihe berechnet.
    Autokorrelation misst die Korrelation einer Zeitreihe mit einer zeitlich verschobenen Version von sich selbst (Lags).
"""

[np.float64(0.44), np.float64(0.56), np.float64(0.31), np.float64(0.16), np.float64(0.15), np.float64(0.43), np.float64(-0.1), np.float64(0.45), np.float64(-0.05), np.float64(-0.1)]
Lag having highest correlation:  2

'\nAnwendungsfälle:\n\n    Analyse von Zeitreihen-Daten (z. B. Finanzdaten, Wetterdaten).\n    Identifikation von Mustern oder Wiederholungen in Daten.\n    Modellierung in der ARIMA-Zeitreihenanalyse (Bestimmung der AR-Parameter).\n\nDefiniton:\n\n    Das Beispiel zeigt, wie man die Autokorrelationen einer numerischen Zeitreihe berechnet.\n    Autokorrelation misst die Korrelation einer Zeitreihe mit einer zeitlich verschobenen Version von sich selbst (Lags).\n'

### 33. How to import only every nth row from a csv file to create a dataframe?

In [35]:
# Solution 2: Use chunks and list comprehension
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()

# Solution 3: Use csv reader
import csv          
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i%50 == 0:
            out.append(row)

df2 = pd.DataFrame(out[1:], columns=out[0])
print(df2.head())

FileNotFoundError: [Errno 2] No such file or directory: 'BostonHousing.csv'

### 34. How to change column values when importing csv to a dataframe?

In [ ]:
# Solution 1: Using converter parameter
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})


# Solution 2: Using csv reader
import csv
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i > 0:
            row[13] = 'High' if float(row[13]) > 25 else 'Low'
        out.append(row)

df = pd.DataFrame(out[1:], columns=out[0])
print(df.head())

### 35. How to create a dataframe with rows as strides from a given series?

In [ ]:
L = pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

### 36. How to import only specified columns from a csv file?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

### 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#  number of rows and columns
print(df.shape)

# datatypes
print(df.dtypes)

# how many columns under each dtype
print(df.dtypes.value_counts())

# summary statistics
df_stats = df.describe()

# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()

### 38. How to extract the row and column number of a particular cell with given criterion?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

# Alternates
df.at[row[0], 'Price']

# The difference between `iat` - `iloc` vs `at` - `loc` is:
# `iat` snd `iloc` accepts row and column numbers. 
# Whereas `at` and `loc` accepts index and column names.

### 39. How to rename a specific columns in a dataframe?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Step 1:
df=df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

### 40. How to check if a dataframe has any missing values?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df.isnull().values.any()

### 41. How to count the number of missing values in each column?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())

n_missings_each_col.argmax()

### 42. How to replace missing values of multiple numeric columns with the mean?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df)
# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out)

"""
Nutzen:

Das Ersetzen von fehlenden Werten mit dem Mittelwert ist eine gängige Methode in der Datenvorbereitung, 
um sicherzustellen, dass Algorithmen keine Probleme mit fehlenden Werten haben.
"""

### 43. How to use apply function on existing columns with global variables as additional arguments?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

df

### 44. How to select a specific column from a dataframe as a dataframe instead of a series?

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

"""
Was ist .loc?

    .loc ist ein Label-basiertes Indexierungswerkzeug in Pandas.
    Es wird verwendet, um Zeilen und Spalten anhand ihrer Namen (oder einer Liste von Namen) auszuwählen.
    Es ist flexibel und unterstützt auch bedingte Filterung.

"""

### 45. How to change the order of columns of a dataframe?

In [ ]:


# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution Q1
x = df[list('cbade')]

### 46. How to set the number of rows and columns displayed in the output?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
# df

# Show all available options
# pd.describe_option()

### 47. How to format or suppress scientific notations in a pandas dataframe?

In [ ]:
 # Input
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])


# Solution 1: Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

# Solution 3: Use set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)

# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

# Reset/undo float formatting
pd.options.display.float_format = None

### 48. How to format all the values in a dataframe as percentages?

In [ ]:
# Input
df = pd.DataFrame(np.random.random(4), columns=['random'])

# Solution
out = df.style.format({
    'random': '{0:.2%}'.format,
})

out

### 49. How to filter every nth row in a dataframe?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

### 50. How to create a primary key index by combining relevant columns?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

# Solution
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

### 51. How to get the row number of the nth largest value in a column?

In [ ]:
# Input
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

# Solution
n = 5
df['a'].argsort()[::-1][n]

### 52. How to find the position of the nth largest value greater than a given value?

In [ ]:
# Input
ser = pd.Series(np.random.randint(1, 100, 15))

# Solution
print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
np.argwhere(ser > ser.mean())

### 53. How to get the last n rows of a dataframe with row sum > 100?

In [ ]:
# Input
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

# Solution
# print row sums
rowsums = df.apply(np.sum, axis=1)

# last two rows with row sum greater than 100
last_two_rows = df.iloc[np.where(rowsums > 100)[0][-2:], :]
print(last_two_rows)

### 54. How to find and cap outliers from a series or dataframe column?

In [ ]:
# Input
ser = pd.Series(np.logspace(-2, 2, 30))
print(ser)
# Solution
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped_ser = cap_outliers(ser, .05, .95)
print(ser)

### 55. How to reshape a dataframe to the largest possible square after removing the negative values?

In [ ]:
# Input
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))
print(df)

# Solution
# Step 1: remove negative values from arr
arr = df[df > 0].values.flatten()
arr_qualified = arr[~np.isnan(arr)]

# Step 2: find side-length of largest possible square
n = int(np.floor(arr_qualified.shape[0]**.5))

# Step 3: Take top n^2 items without changing positions
top_indexes = np.argsort(arr_qualified)[::-1]
output = np.take(arr_qualified, sorted(top_indexes[:n**2])).reshape(n, -1)
print(output)

### 56. How to swap two rows of a dataframe?

In [ ]:
# Input
df = pd.DataFrame(np.arange(25).reshape(5, -1))

# Solution
def swap_rows(df, i1, i2):
    a, b = df.iloc[i1, :].copy(), df.iloc[i2, :].copy()
    df.iloc[i1, :], df.iloc[i2, :] = b, a
    return df

print(swap_rows(df, 1, 2))

### 57. How to reverse the rows of a dataframe?

In [ ]:
# Input
df = pd.DataFrame(np.arange(25).reshape(5, -1))

# Solution 1
df.iloc[::-1, :]

# Solution 2
print(df.loc[df.index[::-1], :])

### 58. How to create one-hot encodings of a categorical variable (dummy variables)?

In [ ]:
# Input
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

# Solution
df_onehot = pd.concat([pd.get_dummies(df['a']), df[list('bcde')]], axis=1)
print(df_onehot)

### 59. Which column contains the highest number of row-wise maximum values?

In [ ]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

# Solution
print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])

### 60. How to create a new column that contains the row number of nearest column by euclidean distance?

In [ ]:


df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

# Solution
import numpy as np

# init outputs
nearest_rows = []
nearest_distance = []

# iterate rows.
for i, row in df.iterrows():
    curr = row
    rest = df.drop(i)
    e_dists = {}  # init dict to store euclidean dists for current row.
    # iterate rest of rows for current row
    for j, contestant in rest.iterrows():
        # compute euclidean dist and update e_dists
        e_dists.update({j: round(np.linalg.norm(curr.values - contestant.values))})
    # update nearest row to current row and the distance value
    nearest_rows.append(max(e_dists, key=e_dists.get))
    nearest_distance.append(max(e_dists.values()))

df['nearest_row'] = nearest_rows
df['dist'] = nearest_distance

"""
1. Kategorisierung und Gruppierung von Daten

    Wofür?
        Um ähnliche Datenpunkte zu gruppieren oder Cluster zu identifizieren.
    Beispiel:
        In einer Produkttabelle: Finde ähnliche Produkte basierend auf Preis, Bewertung und Gewicht. Produkte mit der geringsten Distanz könnten zur gleichen Kategorie gehören.

2. Empfehlungssysteme

    Wofür?
        Um ähnliche Objekte oder Datensätze zu finden und Empfehlungen zu erstellen.
    Beispiel:
        In einem Online-Shop:
            Finde Produkte, die einem ausgewählten Produkt am ähnlichsten sind (z. B. basierend auf Merkmalen wie Preis, Bewertung, Farbe, etc.).
        Benutzerempfehlungen:
            Finde den Benutzer mit dem ähnlichsten Verhalten oder den nächstgelegenen Interessen.

3. Anomalieerkennung

    Wofür?
        Um ungewöhnliche oder abweichende Datenpunkte zu identifizieren.
    Beispiel:
        In einem Netzwerküberwachungssystem:
            Ein Datenpunkt (z. B. ein Benutzer) mit einer großen Distanz zu allen anderen könnte auf eine Anomalie hinweisen (z. B. potenziell bösartiges Verhalten).

4. Clustering

    Wofür?
        Um Datensätze in sinnvolle Gruppen zu unterteilen.
    Beispiel:
        K-Means-Clustering (oder andere Clustering-Algorithmen) verwendet ähnliche Konzepte zur Berechnung der Distanzen zwischen Punkten, um Cluster zu erstellen.

5. Ähnlichkeitsanalyse

    Wofür?
        Um Ähnlichkeiten zwischen Objekten basierend auf ihren Eigenschaften zu quantifizieren.
    Beispiel:
        Im Gesundheitswesen:
            Finde Patienten mit ähnlichen Gesundheitsmerkmalen, um sie basierend auf Symptomen oder Krankheitsbildern zu klassifizieren.
        In der Bildverarbeitung:
            Finde das Bild, das einem gegebenen Bild am ähnlichsten ist, basierend auf extrahierten Merkmalen.

6. Maschinelles Lernen: Vorhersagemodelle

    Wofür?
        Um Ähnlichkeiten zwischen Trainings- und Testdaten zu berechnen.
    Beispiel:
        Bei k-Nearest-Neighbors (k-NN):
            Der Algorithmus verwendet Distanzen, um die k ähnlichsten Nachbarn eines Punktes zu finden und basierend darauf Vorhersagen zu treffen.

7. Datenbereinigung

    Wofür?
        Um doppelte oder ähnliche Datensätze zu identifizieren und zu entfernen.
    Beispiel:
        In einer großen Tabelle mit Kundendaten:
            Finde Zeilen, die fast identisch sind (z. B. denselben Namen, aber kleine Unterschiede bei der Telefonnummer haben).

8. Visualisierung von Daten

    Wofür?
        Um Datenpunkte basierend auf ihrer Nähe in einer niedrigdimensionalen Darstellung zu platzieren.
    Beispiel:
        In einem Streudiagramm oder einem T-SNE-Diagramm:
            Die Punkte, die nahe beieinander liegen, haben eine geringere euklidische Distanz, was Clusterbildung in visuellen Darstellungen zeigt.

9. Zeitreihenanalyse

    Wofür?
        Um Zeitreihen-Daten miteinander zu vergleichen.
    Beispiel:
        Im Finanzwesen:
            Finde die Aktie oder das Wertpapier, das sich in der Vergangenheit ähnlich wie ein bestimmtes Wertpapier verhalten hat (basierend auf Preisbewegungen).

10. Lokale Nachbarschaftsanalysen

    Wofür?
        Um Beziehungen oder Interaktionen zwischen benachbarten Objekten zu untersuchen.
    Beispiel:
        In der Geodatenanalyse:
            Finde den nächsten Standort zu einem gegebenen Standort (z. B. nächstgelegene Tankstelle zu einem bestimmten Punkt).
        In sozialen Netzwerken:
            Finde Benutzer, die am ähnlichsten sind, basierend auf gemeinsamen Interessen oder Verbindungen.
            """

### 61. How to know the maximum possible correlation value of each column against other columns?

In [46]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
df

# Solution
abs_corrmat = np.abs(df.corr())
max_corr = abs_corrmat.apply(lambda x: sorted(x)[-2])
print('Maximum Correlation possible for each column: ', np.round(max_corr.tolist(), 2))

Maximum Correlation possible for each column:  [0.83 0.41 0.57 0.83 0.7  0.69 0.72 0.72 0.53 0.7 ]

### 62. How to create a column containing the minimum by maximum of each row?

In [48]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution 1
min_by_max = df.apply(lambda x: np.min(x)/np.max(x), axis=1)

# Solution 2
min_by_max = np.min(df, axis=1)/np.max(df, axis=1)

print(min_by_max)

0    0.065934
1    0.072917
2    0.104651
3    0.071429
4    0.043011
5    0.077778
6    0.055556
7    0.075269
dtype: float64

### 63. How to create a column that contains the penultimate value in each row?

In [50]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution
out = df.apply(lambda x: x.sort_values().unique()[-2], axis=1)
print(out)
df['penultimate'] = out
print(df)

0    66
1    79
2    95
3    82
4    85
5    73
6    85
7    72
dtype: int32
    0   1   2   3   4   5   6   7   8   9  penultimate
0  21  26  62  66  58  70   2  37  25  35           66
1  79  70  27  65  38  37  89  73  32  76           79
2   3  56  79  87  99  81  69  94  32  95           95
3  57  82  57   2  23  92  38  47  72  28           82
4  36  95  71  38  71  56  32  85  30  42           85
5  73  59  87  44  44  57  40  33  57  35           73
6   5  96  79  13  85   3   2  51  96  15           85
7  18  90  63   3   4  23  45  72  49   7           72

### 64. How to normalize all columns in a dataframe?

In [57]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
print('standard\n',df)

# Solution Q1
out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print('Solution Q1\n',out1)

# Solution Q2
out2 = df.apply(lambda x: ((x.max() - x)/(x.max() - x.min())).round(2))
print('Solution Q2\n', out2)  


"""
Hier ist die Erklärung des Codes:
Input

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

    Ein DataFrame df wird erstellt:
        Enthält zufällige Ganzzahlen zwischen 1 und 100.
        Besteht aus 8 Zeilen und 10 Spalten.

Solution Q1: Z-Score Berechnung
Code:

out1 = df.apply(lambda x: ((x - x.mean()) / x.std()).round(2))

    apply():
        Wendet die Lambda-Funktion spaltenweise an (standardmäßig axis=0).
    Lambda-Funktion:
        Z=x−μσZ=σx−μ​
            xx: Werte in der Spalte.
            μμ: Mittelwert der Spalte, berechnet mit x.mean().
            σσ: Standardabweichung der Spalte, berechnet mit x.std().
            Der Z-Score misst, wie viele Standardabweichungen ein Wert vom Mittelwert entfernt ist.
        round(2):
            Rundet das Ergebnis auf 2 Dezimalstellen.
    Ergebnis:
        Jede Zahl im DataFrame wird durch ihren Z-Score ersetzt, der ihre relative Position im Vergleich zur Verteilung der jeweiligen Spalte angibt.

Beispiel:

Angenommen, eine Spalte enthält: [10, 20, 30, 40].

    Mittelwert μ=25μ=25, Standardabweichung σ≈12.91σ≈12.91.
    Z-Scores:
        Z(10)=10−2512.91≈−1.16Z(10)=12.9110−25​≈−1.16
        Z(20)=20−2512.91≈−0.39Z(20)=12.9120−25​≈−0.39
        ...

Solution Q2: Min-Max-Skalierung
Code:

out2 = df.apply(lambda x: ((x.max() - x) / (x.max() - x.min())).round(2))

    apply():
        Wendet die Lambda-Funktion spaltenweise an.
    Lambda-Funktion:
        Scaled Value=max−xmax−minScaled Value=max−minmax−x​
            xx: Werte in der Spalte.
            maxmax: Maximale Zahl in der Spalte, berechnet mit x.max().
            minmin: Minimale Zahl in der Spalte, berechnet mit x.min().
            Skalierung der Werte, sodass der größte Wert den Skalenwert 0 hat und der kleinste den Skalenwert 1.
        round(2):
            Rundet die Ergebnisse auf 2 Dezimalstellen.
    Ergebnis:
        Die Werte jeder Spalte werden auf einen Bereich von 0 bis 1 skaliert.

Beispiel:

Angenommen, eine Spalte enthält: [10, 20, 30, 40].

    min=10min=10, max=40max=40.
    Skalierte Werte:
        40−1040−10=1.040−1040−10​=1.0
        40−4040−10=0.040−1040−40​=0.0

Unterschied zwischen Q1 und Q2

    Q1 (Z-Score):
        Zentriert die Daten um den Mittelwert und skaliert basierend auf der Standardabweichung.
        Ergebnis: Werte sind negativ, positiv oder null, abhängig von ihrer Abweichung vom Mittelwert.

    Q2 (Min-Max-Skalierung):
        Skaliert die Daten auf einen Bereich zwischen 0 und 1.
        Ergebnis: Werte sind normalisiert und behalten ihre relative Größenordnung bei.

        """

standard
     0   1   2   3   4   5   6   7   8   9
0  27  88   7  21  27  97  19  57  17  49
1  98  16  41  45  72  68   9  36  16  90
2  57   3  48  19  31  38  44  49  16  39
3  63  40  27  37   7  73  14  21  19   4
4  18  22  66  59  70  19  70  82  95  11
5  28  67  72  32  53  71  31  29  73  24
6  39  43  44  60   4  47  44  29  59  65
7   3  51  26  78  61  93  98  82  94  20
Solution Q1
       0     1     2     3     4     5     6     7     8     9
0 -0.49  1.68 -1.60 -1.11 -0.50  1.26 -0.73  0.37 -0.89  0.39
1  1.88 -0.91 -0.02  0.05  1.15  0.18 -1.06 -0.51 -0.91  1.79
2  0.51 -1.37  0.31 -1.20 -0.35 -0.94  0.09  0.04 -0.91  0.04
3  0.71 -0.04 -0.67 -0.33 -1.24  0.36 -0.89 -1.14 -0.83 -1.16
4 -0.79 -0.69  1.15  0.73  1.08 -1.65  0.95  1.42  1.30 -0.92
5 -0.45  0.93  1.43 -0.58  0.46  0.29 -0.33 -0.80  0.68 -0.47
6 -0.09  0.06  0.12  0.78 -1.35 -0.60  0.09 -0.80  0.29  0.93
7 -1.28  0.35 -0.72  1.65  0.75  1.11  1.87  1.42  1.27 -0.61
Solution Q2
       0     1     2     3     4     5     6     7     8     9
0  0.75  0.00  1.00  0.97  0.66  0.00  0.89  0.41  0.99  0.48
1  0.00  0.85  0.48  0.56  0.00  0.37  1.00  0.75  1.00  0.00
2  0.43  1.00  0.37  1.00  0.60  0.76  0.61  0.54  1.00  0.59
3  0.37  0.56  0.69  0.69  0.96  0.31  0.94  1.00  0.96  1.00
4  0.84  0.78  0.09  0.32  0.03  1.00  0.31  0.00  0.00  0.92
5  0.74  0.25  0.00  0.78  0.28  0.33  0.75  0.87  0.28  0.77
6  0.62  0.53  0.43  0.31  1.00  0.64  0.61  0.87  0.46  0.29
7  1.00  0.44  0.71  0.00  0.16  0.05  0.00  0.00  0.01  0.81

'\nHier ist die Erklärung des Codes:\nInput\n\ndf = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))\n\n    Ein DataFrame df wird erstellt:\n        Enthält zufällige Ganzzahlen zwischen 1 und 100.\n        Besteht aus 8 Zeilen und 10 Spalten.\n\nSolution Q1: Z-Score Berechnung\nCode:\n\nout1 = df.apply(lambda x: ((x - x.mean()) / x.std()).round(2))\n\n    apply():\n        Wendet die Lambda-Funktion spaltenweise an (standardmäßig axis=0).\n    Lambda-Funktion:\n        Z=x−μσZ=σx−μ\u200b\n            xx: Werte in der Spalte.\n            μμ: Mittelwert der Spalte, berechnet mit x.mean().\n            σσ: Standardabweichung der Spalte, berechnet mit x.std().\n            Der Z-Score misst, wie viele Standardabweichungen ein Wert vom Mittelwert entfernt ist.\n        round(2):\n            Rundet das Ergebnis auf 2 Dezimalstellen.\n    Ergebnis:\n        Jede Zahl im DataFrame wird durch ihren Z-Score ersetzt, der ihre relative Position im Vergleich zur Verteilung der jeweiligen Spalte angibt.\n\nBeispiel:\n\nAngenommen, eine Spalte enthält: [10, 20, 30, 40].\n\n    Mittelwert μ=25μ=25, Standardabweichung σ≈12.91σ≈12.91.\n    Z-Scores:\n        Z(10)=10−2512.91≈−1.16Z(10)=12.9110−25\u200b≈−1.16\n        Z(20)=20−2512.91≈−0.39Z(20)=12.9120−25\u200b≈−0.39\n        ...\n\nSolution Q2: Min-Max-Skalierung\nCode:\n\nout2 = df.apply(lambda x: ((x.max() - x) / (x.max() - x.min())).round(2))\n\n    apply():\n        Wendet die Lambda-Funktion spaltenweise an.\n    Lambda-Funktion:\n        Scaled Value=max−xmax−minScaled Value=max−minmax−x\u200b\n            xx: Werte in der Spalte.\n            maxmax: Maximale Zahl in der Spalte, berechnet mit x.max().\n            minmin: Minimale Zahl in der Spalte, berechnet mit x.min().\n            Skalierung der Werte, sodass der größte Wert den Skalenwert 0 hat und der kleinste den Skalenwert 1.\n        round(2):\n            Rundet die Ergebnisse auf 2 Dezimalstellen.\n    Ergebnis:\n        Die Werte jeder Spalte werden auf einen Bereich von 0 bis 1 skaliert.\n\nBeispiel:\n\nAngenommen, eine Spalte enthält: [10, 20, 30, 40].\n\n    min=10min=10, max=40max=40.\n    Skalierte Werte:\n        40−1040−10=1.040−1040−10\u200b=1.0\n        40−4040−10=0.040−1040−40\u200b=0.0\n\nUnterschied zwischen Q1 und Q2\n\n    Q1 (Z-Score):\n        Zentriert die Daten um den Mittelwert und skaliert basierend auf der Standardabweichung.\n        Ergebnis: Werte sind negativ, positiv oder null, abhängig von ihrer Abweichung vom Mittelwert.\n\n    Q2 (Min-Max-Skalierung):\n        Skaliert die Daten auf einen Bereich zwischen 0 und 1.\n        Ergebnis: Werte sind normalisiert und behalten ihre relative Größenordnung bei.\n\n        '

### 65. How to compute the correlation of each row with the suceeding row?

In [62]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
print(df)
print(df.shape)
# Solution
[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]

    0   1   2   3   4   5   6   7   8   9
0  81   5  38  60   1  23  44  33  71   7
1  91  87  12  30  44  23  46  70  42  53
2  34  27  46  12  97  95  77  18  21  59
3  81  47  12  81   8  55  72   8  62  77
4  78  93  56  93  91  31  87  89  48  49
5  70  73  17  57  38  74  90   1  20  85
6  50  86  44   1   2  38  52  95  12  77
7  36  27  83  33  96  70  53  63  38  34
(8, 10)

[np.float64(0.04),
 np.float64(-0.34),
 np.float64(-0.16),
 np.float64(-0.14),
 np.float64(-0.04),
 np.float64(0.11),
 np.float64(-0.26)]

### 66. How to replace both the diagonals of dataframe with 0?

In [69]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
print(df.shape)
# Solution
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0

print(df)

(10, 10)
    0   1   2   3   4   5   6   7   8   9
0   0  38  49  43   8  77  58  63  58   0
1  73   0   8  98  82  93  95  76   0  95
2  38  27   0  88  46  44  80   0  87  66
3  80  93  69   0  53  59   0  53  70  25
4  40   7  79  26   0   0  83  62  28  83
5   4  90  63  64   0   0  92  83  71  78
6  89  33   8   0  61  86   0  65  71  30
7  26  73   0  11  19  28  33   0  77  97
8  20   0  65  77   8  75  12  97   0  59
9   0  53  92  42  32  90  19   8  78   0

### 67. How to get the particular group of a groupby dataframe by key?

In [81]:
# Input
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

print(df)
df_grouped = df.groupby(['col1'])

# Solution 1
df_grouped.get_group('apple')

# Solution 2
for i, dff in df_grouped:
    if i == 'apple':
        print(dff)

     col1      col2  col3
0   apple  0.098283     1
1  banana  0.266327     0
2  orange  0.052968     1
3   apple  0.421364     0
4  banana  0.340880     1
5  orange  0.190449    10
6   apple  0.858929     5
7  banana  0.671611    10
8  orange  0.798728    12

C:\Users\qather\AppData\Local\Temp\ipykernel_68332\3378235893.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df_grouped.get_group('apple')

### 68. How to get the n’th largest value of a column when grouped by another column?

In [87]:
# Input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})


# Solution
df_grpd = df['taste'].groupby(df.fruit)

for key, group in df_grpd:
    print(f"Gruppe: {key}")
    display(group)  # Zeigt jede Gruppe als Tabelle an
    
df_grpd.get_group('banana').sort_values().iloc[-2]

Gruppe: apple

0    0.993385
3    0.892929
6    0.524833
Name: taste, dtype: float64

Gruppe: banana

1    0.670832
4    0.642960
7    0.530410
Name: taste, dtype: float64

Gruppe: orange

2    0.406961
5    0.577310
8    0.031290
Name: taste, dtype: float64

np.float64(0.6429599360698913)

### 69. How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?

In [94]:
# Input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

print(df,'\n')
# Solution
out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit    rating  price
0   apple  0.616558      6
1  banana  0.982004      3
2  orange  0.314064      4
3   apple  0.146738      4
4  banana  0.500235     12
5  orange  0.391681      2
6   apple  0.925812     13
7  banana  0.693900      3
8  orange  0.765410      4

    fruit     price
0   apple  7.666667
1  banana  6.000000
2  orange  3.333333

### 70. How to join two dataframes by 2 columns so they have only the common rows?

In [101]:
# Input
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

# Solution
pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], suffixes=['_left', '_right'])

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high          10   apple  high            7
1  orange    low           3  orange   low            3
2   apple   high           7   apple  high            7
3  orange    low          12  orange   low            3
4   apple   high           3   apple  high            7
5  orange    low           8  orange   low            3

### 71. How to remove rows from a dataframe that are present in another dataframe?

In [105]:
# Input
df1 = pd.DataFrame({'fruit': ['apple', 'orange', 'banana'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.arange(9)})

df2 = pd.DataFrame({'fruit': ['apple', 'orange', 'pine'] * 2,
                    'weight': ['high', 'medium'] * 3,
                    'price': np.arange(6)})


print(df1,'\n''\n',df2)
# Solution
print(df1[~df1.isin(df2).all(1)])

    fruit  weight  price
0   apple    high      0
1  orange  medium      1
2  banana     low      2
3   apple    high      3
4  orange  medium      4
5  banana     low      5
6   apple    high      6
7  orange  medium      7
8  banana     low      8

     fruit  weight  price
0   apple    high      0
1  orange  medium      1
2    pine    high      2
3   apple  medium      3
4  orange    high      4
5    pine  medium      5
    fruit  weight  price
2  banana     low      2
3   apple    high      3
4  orange  medium      4
5  banana     low      5
6   apple    high      6
7  orange  medium      7
8  banana     low      8

### 72. How to get the positions where values of two columns match?

In [107]:
# Input
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

print(df)

# Solution
np.where(df.fruit1 == df.fruit2)

   fruit1  fruit2
0  banana  orange
1  banana  orange
2  orange  orange
3   apple   apple
4   apple   apple
5  banana  banana
6  orange  banana
7  orange   apple
8  banana   apple
9  banana  banana

(array([2, 3, 4, 5, 9]),)

### 73. How to create lags and leads of a column in a dataframe?

In [108]:
# Input
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

# Solution
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

    a   b   c   d  a_lag1  b_lead1
0  33  99  46  62     NaN     60.0
1  14  60  46  39    33.0     85.0
2  38  85  80  50    14.0     23.0
3  69  23   5   1    38.0     31.0
4  41  31  20  79    69.0      NaN

### 74. How to get the frequency of unique values in the entire dataframe?

In [122]:
# Input
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

print(df)
# Solution
pd.Series(df.values.ravel()).value_counts()

   a  b  c  d
0  6  4  5  5
1  7  8  9  7
2  9  5  7  1
3  5  2  9  9
4  2  6  7  5

5    5
7    4
9    4
6    2
2    2
4    1
8    1
1    1
Name: count, dtype: int64

### 75. How to split a text column into two separate columns?

In [118]:
# Input
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

# Solution
df_out = df.row.str.split(',|\t', expand=True)

# Make first row as header
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka